<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Thermostat</title>
    <link rel="stylesheet" type="text/css" href="../public/stylesheet.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="../src/thermostat.js"></script>

  </head>
  <body>

    <h1>Thermostat</h1>

    <div id='Box' class="mainBox">

      <div class="temperatureBox">
        <input type="button" class="decreaseTempButton" id="decreaseTemp" name="decrease" value="-">
        <text class="temperatureText" id='currentTemperature'></text>
        <input type="button" class="increaseTempButton" id="increaseTemp" name="increase" value="+">
      </div>

      <div class="resetAndPowerSavingBox">
        <button class="powerSavingButton" id="switchPowerSaving" type="button" name="button">
          Power Saving: <text id='powerSaving'>Off</text>
        </button>
        <input type="button" class="resetButton" id="Reset" value="Reset">
      </div>

      <div class="weatherBox">

        <div class="weatherSelection">
          <select name="cities" id='cities'>
            <option value="London">London</option>
            <option value="Paris">Paris</option>
            <option value="Rome">Rome</option>
            <option value="Buenos Aires">Buenos Aires</option>
          </select>
          <input type="button" class="button" id="confirmCity" value="Confirm">

        </div>

        <div>

          <div class="weatherSetText">
            <br>
            <text class="weatherText"> Weather: </text>
            <br>
            <text class="outsideTempText"> Outside Temperature: </text>

          </div>

          <div class="weatherOutput">
            <br>
            <text id="weather"></text>
            <br>
            <text id="outsideTemp"></text>
          </div>

        </div>
      </div>

    </div>

  </body>
  <script src="jquery.js"></script>
</html>
